@charset "UTF-8";
@import url("base.css");
/*共通設定-------------------------------------------------------------------------------------------------------------------------------------*/
/*ヘッダー*/
/*メイン*/
h1 {
  margin: 0 auto; }
  h1 img {
    width: 309px;
    display: block;
    margin: 0; }

#message {
  margin: 5em auto 0; }
  #message h2 {
    font-size: 187%;
    color: #1b1464;
    border-bottom: 5px solid #949494; }
  #message dl {
    width: 100%;
    margin: 3em 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #message dl dt {
      width: 46%; }
    #message dl dd {
      width: 50%;
      line-height: 3; }

#company {
  margin: 5em auto 0; }
  #company h2 {
    font-size: 187%;
    color: #1b1464;
    border-bottom: 5px solid #949494; }
  #company table {
    width: 100%;
    margin: 3em 0 0; }
    #company table tr {
      border-bottom: 1px solid #ccc; }
      #company table tr:last-child {
        border-bottom: none; }
      #company table tr th {
        width: 25%;
        color: #3fa7f3;
        text-align: left;
        vertical-align: top;
        padding: 1em 0; }
      #company table tr td {
        width: 75%;
        padding: 1em 0; }
        #company table tr td a {
          color: #000;
          text-decoration: none; }
          #company table tr td a:hover, #company table tr td a:active {
            color: #000;
            text-decoration: underline; }
        #company table tr td span a {
          color: #fff;
          background-color: #3fa7f3;
          text-decoration: none;
          padding: 0.25em 5px; }
          #company table tr td span a:hover, #company table tr td span a:active {
            color: #fff;
            text-decoration: none;
            background-color: #6CBBF5; }

#history {
  margin: 5em auto 0; }
  #history h2 {
    font-size: 187%;
    color: #1b1464;
    border-bottom: 5px solid #949494; }
  #history table {
    width: 100%;
    margin: 3em 0 0; }
    #history table tr {
      border-bottom: 1px solid #ccc; }
      #history table tr:last-child {
        border-bottom: none; }
      #history table tr th {
        width: 25%;
        color: #808080;
        text-align: left;
        vertical-align: top;
        padding: 1em 0; }
      #history table tr td {
        width: 75%;
        padding: 1em 0; }
        #history table tr td a {
          color: #000;
          text-decoration: none; }
          #history table tr td a:hover, #history table tr td a:active {
            color: #000;
            text-decoration: underline; }

#map {
  margin: 5em auto 0; }
  #map h2 {
    font-size: 187%;
    color: #1b1464;
    border-bottom: 5px solid #949494; }
  #map .ggmap {
    margin: 3em 0 0;
    position: relative;
    padding-bottom: 36.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; }
    #map .ggmap iframe, #map .ggmap object, #map .ggmap embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

/*フッター*/
/*共通設定ここまで-------------------------------------------------------------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1300px) {
  /*ヘッダー*/
  header {
    background-image: url("../img/company/top_img.png"); }

  /*メイン*/
  h1, #message, #company, #history, #map {
    width: 1280px; }

  /*フッター*/ }
/* tablet以下共通 ------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1299px) {
  /*ヘッダー*/
  /*メイン*/
  h1, #message, #company, #history, #map {
    width: 96%; }

  /*フッター*/ }
/* tablet以下共通ここまで ------------------------------------------------------------------------------------------*/
/* tablet1 */
@media only screen and (min-width: 1024px) and (max-width: 1299px) {
  /*ヘッダー*/
  header {
    background-image: url("../img/company/top_img.png"); }

  /*メイン*/
  /*フッター*/ }
/* tablet2  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*ヘッダー*/
  header {
    background-image: url("../img/company/top_img.png"); }

  /*メイン*/
  /*フッター*/ }
/* tablet3  */
@media only screen and (max-width: 767px) {
  /*ヘッダー*/
  header {
    background-image: url("../img/company/top_img_sp.png"); }

  /*メイン*/
  h1 {
    margin: 0 auto; }
    h1 img {
      width: 200px; }

  #message {
    margin: 2.5em auto 0; }
    #message dl {
      margin: 1.5em 0 0;
      flex-direction: column; }
      #message dl dt {
        width: 100%;
        margin: 0 auto 1em; }
      #message dl dd {
        width: 100%;
        line-height: 2; }

  #company {
    margin: 2.5em auto 0; }
    #company h2 {
      font-size: 160%;
      border-bottom: 3px solid #949494; }
    #company table {
      margin: 1.5em 0 0; }
      #company table tr th {
        display: block;
        width: 100%;
        padding: 1em 0 0; }
      #company table tr td {
        display: block;
        width: 100%;
        padding: 0 0 1em; }

  #history {
    margin: 5em auto 0; }
    #history h2 {
      font-size: 160%;
      border-bottom: 3px solid #949494; }
    #history table {
      margin: 1.5em 0 0; }
      #history table tr th {
        display: block;
        width: 100%;
        padding: 1em 0 0; }
      #history table tr td {
        display: block;
        width: 100%;
        padding: 0 0 1em; }

  #map {
    margin: 2.5em auto 0; }
    #map h2 {
      font-size: 160%;
      border-bottom: 3px solid #949494; }
    #map .ggmap {
      margin: 1.5em 0 0;
      padding-bottom: 56.25%; }

  /*フッター*/ }
/* smartPhone1 */
@media only screen and (max-width: 499px) {
  /*ヘッダー*/
  /*メイン*/
  /*フッター*/ }
