@charset "utf-8";
@import url("base.css");

/*共通設定-------------------------------------------------------------------------------------------------------------------------------------*/
/*ヘッダー*/

/*メイン*/
@mixin heading/*h2見出し*/{
	font-size: 187%;
	color: #1b1464;
}
h1{
    margin: 0 auto;
    & img{
        width: 700px;
        display: block;
        margin: 0;
    }
}
.policy{
    margin: 5em auto 0;
    & h2{
        @include heading;
        border-bottom: 5px solid #949494;
        margin: 0 0 0.5em;
    }
    & p{
        width: 100%;
        margin: 0 0 1em;
        & a{
            color: #000;
            text-decoration: none;
            &:hover,&:active{
                color: #000;
                text-decoration: underline;
            }
        }
    }
    & dl{
        & dt{
            font-weight: bold;
            font-size: 125%;
        }
        & dd{
            margin: 0.25em 0 0;
        }
    }
    & ol{
        margin: 0 0 1em;
        & li{
            list-style: decimal;
            list-style-position: outside;
            margin: 0 0 0 1.5em;
        }
    }
}

/*フッター*/

/*共通設定ここまで-------------------------------------------------------------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1300px)  {
/*ヘッダー*/
header{
    background-image: url("../img/policy/top_img.png"); 
}
    
/*メイン*/
h1,.policy{
    width: 1280px;
}   
/*フッター*/

}

/* tablet以下共通 ------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1299px)  {
/*ヘッダー*/

/*メイン*/
h1,.policy{
    width: 96%;
}   
/*フッター*/

}
/* tablet以下共通ここまで ------------------------------------------------------------------------------------------*/

/* tablet1 */
@media only screen and (min-width: 1024px) and (max-width: 1299px)  {
/*ヘッダー*/
header{
    background-image: url("../img/policy/top_img.png"); 
}
/*メイン*/

/*フッター*/
}

/* tablet2  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
/*ヘッダー*/
header{
    background-image: url("../img/policy/top_img.png"); 
}
/*メイン*/

/*フッター*/
}

/* tablet3  */
@media only screen and (max-width: 767px) {
/*ヘッダー*/
header{
    background-image: url("../img/policy/top_img_sp.png"); 
    }
/*メイン*/
@mixin heading/*h2見出し*/{
	font-size: 160%;
}
h1{
    margin: 0 auto;
    & img{
        width: 300px;
    }
}
.policy{
    margin: 2.5em auto 0;
    & h2{
        @include heading;
        border-bottom: 3px solid #949494;
    }
}
/*フッター*/
}

/* smartPhone1 */
@media only screen and (max-width: 499px) {
/*ヘッダー*/

/*メイン*/

/*フッター*/

}

