@charset "utf-8";
@import url("base.css");

/*共通設定-------------------------------------------------------------------------------------------------------------------------------------*/
/*ヘッダー*/

/*メイン*/
@mixin heading/*h2見出し*/{
	font-size: 187%;
	color: #1b1464;
}
#m_top{
    margin: 0 auto;
    & img{
        width: 309px;
        display: block;
        margin: 0;
    }
}
#single{
    margin: 5em auto 0;
    & h1{
        @include heading;
        border-bottom: 5px solid #949494;
    }
    & .category1{
        display: inline-block;
        margin: 1em 0 0;
        padding: 0.25em 10px;
        background-color: #258686;
        color: #fff;
    }
    & #single_inner{
        width: 100%;
        margin: 2em 0 0;
        & figure{
            margin: 0 0 1em;
            & img{
                max-width: 100%;
            }
        }
        & p{
            margin: 0 0 1em;
        }
        & img{
            
        }
    }
}
/*ページャーcss*/
.pager {
	margin: 5em auto 0;
    border-bottom:1px solid #999;
}
#blog_more{ 
	display: flex;
	justify-content: space-between;
	margin: 0 auto 2em;
}
#blog_more li a{
    width: 80px;
    text-align: center;
	color: #1b1464;
    padding: 0.5em 0;
	border:1px solid #999;
	box-sizing:border-box;
    font-weight: bold;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
    display: block;
}
#blog_more li a:hover,#blog_more li a:active{
	text-decoration: none;
	color: #fff;
    background-color: #1B1464;
}
/*フッター*/

/*共通設定ここまで-------------------------------------------------------------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1300px)  {
/*ヘッダー*/
header{
    background-image: url("../img/info/top_img.png"); 
}
    
/*メイン*/
#m_top,#single,.pager{
    width: 1280px;
}   
/*フッター*/

}

/* tablet以下共通 ------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1299px)  {
/*ヘッダー*/

/*メイン*/
#m_top,#single,.pager{
    width: 96%;
}   
/*フッター*/

}
/* tablet以下共通ここまで ------------------------------------------------------------------------------------------*/

/* tablet1 */
@media only screen and (min-width: 1024px) and (max-width: 1299px)  {
/*ヘッダー*/
header{
    background-image: url("../img/info/top_img.png"); 
}
/*メイン*/

/*フッター*/
}

/* tablet2  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
/*ヘッダー*/
header{
    background-image: url("../img/info/top_img.png"); 
}
/*メイン*/

/*フッター*/
}

/* tablet3  */
@media only screen and (max-width: 767px) {
/*ヘッダー*/
header{
    background-image: url("../img/info/top_img_sp.png"); 
    }
/*メイン*/
@mixin heading/*h2見出し*/{
	font-size: 160%;
}
#m_top{
    margin: 0 auto;
    & img{
        width: 206px;
    }
}
#single{
    margin: 2.5em auto 0;
    & h1{
        @include heading;
    }
    & #single_inner{
        margin: 1em 0 0;
    }
}
/*ページャーcss*/
.pager {
	margin: 2.5em auto 0;
}

/*フッター*/
}

/* smartPhone1 */
@media only screen and (max-width: 499px) {
/*ヘッダー*/

/*メイン*/

/*フッター*/

}

